<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DashBoard</title>
  </head>
  <body>
    <%- include("../_header.ejs") %>
    <h1>Receptionist DashBoard</h1>

    <!-- 
    Receptionist Dashboard
    - view booking and their status upto to one week
    -view booking payment status
    -confirm checkin and checkout
    -view all rooms and their status
    -view all spots and their status
    -->
  </body>
</html>
