<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DashBoard</title>
  </head>
  <body>
    <%- include("../_header.ejs") %>
    <h1>Super Admin DashBoard</h1>
    <!-- 
    Super Admin Dashboard
    - view all users and their roles
    -views all bookings and their status
    -view all clients and their details
     -->
  </body>
</html>
