.rooms-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.rooms-container .room {
  width: calc(25% - 15px);
  border-radius: 16px;
  overflow: hidden;
  background-color: azure;
}

.rooms-container img {
  width: 100%;
  height: 250px;
}
.rooms-container h3 {
  padding: 10px 20px;
}
.rooms-container p {
  padding: 10px 20px;
}
.rooms-container a {
  background-color: darkgreen;
  color: white;
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px;
  margin: 20px;
  text-decoration: none;
  font-weight: bold;
}
/* styling spots */
.spots-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.spots-container .spot {
  width: calc(25% - 15px);
  border-radius: 16px;
  overflow: hidden;
  background-color: azure;
}
.spots-container img {
  width: 100%;
  height: 250px;
}
.spots-container h3 {
  padding: 10px 20px;
}
.spots-container p {
  padding: 10px 20px;
}
.spots-container a {
  background-color: darkgreen;
  color: white;
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px;
  margin: 20px;
  text-decoration: none;
  font-weight: bold;
}

body {
  font-family: "poppins", "sans-serif";
  background-color: #f0f0f0;
  color: #333;
  line-height: 1.6;
}
/* styling the header  */

header {
  background-color: #333;
  color: white;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  color: inherit;
  text-decoration: none;
  text-decoration: none;
  padding: 6px 12px;
}
/* styling hero section */
.hero {
  min-height: 50vh;
  background-image: url("../Images/thelobovillage.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f0f0f0;
  text-align: center;
  gap: 20px;
  position: relative;
}
.hero h1 {
  z-index: 2;
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.hero p {
  z-index: 2;
  font-size: 1.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.hero .cta {
  z-index: 2;
  background-color: #ff6347;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  text-decoration: none;
}
.hero .backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
/* styling Error Messages */

.error-message {
  color: orangered;
  font-size: 1.2rem;
  text-align: center;
  margin: 20px;
}
.error-message a {
  color: orangered;
  text-decoration: underline;
}
.error-message a:hover {
  text-decoration: none;
}

/*  */
.booking-success {
  color: green;
  font-size: 1.2rem;
  text-align: center;
  margin: 20px;
}
.booking-success a {
  color: green;
  text-decoration: underline;
}
.booking-success a:hover {
  text-decoration: none;
}
