.rooms-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.rooms-container .room {
  width: calc(25% - 15px);
  border-radius: 16px;
  overflow: hidden;
  background-color: azure;
}

.rooms-container img {
  width: 100%;
  height: 250px;
}
.rooms-container h3 {
  padding: 10px 20px;
}
.rooms-container p {
  padding: 10px 20px;
}
.rooms-container a {
  background-color: darkgreen;
  color: white;
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px;
  margin: 20px;
  text-decoration: none;
  font-weight: bold;
}
/* styling spots */
.spots-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.spots-container .spot {
  width: calc(25% - 15px);
  border-radius: 16px;
  overflow: hidden;
  background-color: azure;
}
.spots-container img {
  width: 100%;
  height: 250px;
}
.spots-container h3 {
  padding: 10px 20px;
}
.spots-container p {
  padding: 10px 20px;
}
.spots-container a {
  background-color: darkgreen;
  color: white;
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px;
  margin: 20px;
  text-decoration: none;
  font-weight: bold;
}
